<!-- ORIGINAL:
<h1>
  {{title}}
</h1>
<app-stock-list></app-stock-list>
<app-create-stock></app-create-stock>
  -->
<!-- HTML link to APIs, instead of Angular loading the components -->
<div class="links">
  <span><a routerLink="/login" routerLinkActive="active">Login</a></span>
  <span><a routerLink="/register" routerLinkActive="active">Register</a></span>
  <span><a routerLink="/stocks/list" routerLinkActive="active">Stock List</a></span>
  <span><a routerLink="/stocks/create" routerLinkActive="active">Create Stock</a></span>
</div>
<router-outlet></router-outlet>
