<h2>Create Stock Form</h2>

<div class="form-group">
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
    <div class="stock-name">
      <input type="text"
        placeholder="Stock Name"
        name="stockName"
        formControlName="name">
    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
Name is required
    </div>

    <div class="stock-code">
        <input type="text"
          placeholder="Stock Code"
          formControlName="code">
      </div>
      <div *ngIf="code.invalid && (code.dirty || code.touched)">
        <div *ngIf="!!code.errors.required">
          Stock Code is required
        </div>
        <div *ngIf="!!code.errors.minlength">
          Stock Code must be at least 2 characters
        </div>
      </div>

      <div class="stock-price">
          <input type="text"
            placeholder="Stock Price"
            formControlName="price">
      </div>
      <div *ngIf="name.invalid && (price.dirty || price.touched)">
        <div *ngIf="!!price.errors.required">
          Stock Price is required
        </div>
        <div *ngIf="!!price.errors.min">
          Stock price must be positive
        </div>
      </div>

      <button type="submit">Submit</button>
      <button type="button"
        (click)="resetForm()">Reset</button>
      <button type="button"
        (click)="loadStockFromServer()">Simulate server load</button>
      <button type="button"
        (click)="patchStockForm()">Patch Stock Form</button>
  </form>
</div>

<p>Form Control value: {{ stockForm.value | json }}</p>
<p>Form Control status: {{ stockForm.status | json }}</p>
